body { 
	background: #f2f2f2;
}
a {
	color: #555555;
	text-decoration: underline;
}
/* Authentication Form */
.auth-form {
	background-color: #e6e6e6;
}
.auth-logo{
	background-image: url('http://www.kns7.org/images/logo_kns7.png');
	height: 200px;
}
.auth-form p {
	color: #707070;
}
.auth-form p a {
	color: #707070;
}
.auth-form form input[type=submit] {
	background-color: #FF9900;
	color: white;
}

/* Main App */
#showmenu {
	background-color: #555;
}
#showmenu:hover {
	background-color: #212121;
}

nav {
	background: #212121;
	color: white;
}
nav ul .menu {
	border-bottom: 1px solid #020202;
	border-top: 1px solid #555555;
}
nav ul .menu[rel=back]{ background-image: url('../img/menu_back.png'); display: none; }
nav ul .menu[rel=upload]{ background-image: url('../img/menu_upload.png'); }
nav ul .menu[rel=images]{ background-image: url('../img/menu_images.png'); }
nav ul .menu[rel=home]{ background-image: url('../img/menu_home.png'); }
nav ul .menu[rel=logout]{ background-image: url('../img/menu_logout.png'); }
nav ul .menu:hover,nav ul li.active { background-color: #010101; }

#global .help {
	background: #B5C5FF url('../img/help.png') 5px 5px no-repeat;
	color: #000551;
	border-color: #000551;
}
.warning {
	color: #555;
	background-color: #FFD387;
	border-color: #FF9900;
}
.error {
	color: #555;
	background-color: #FF5F47;
	border-color: #FF050D;
}
.success {
	color: #555;
	background-color: #59D387;
	border-color: #43D100;
}

table th {
	color: #ffffff;
}
table td input, table td textarea, table td select {
	border-color: #212121;
	background-color: #FFFFFF;
}
table td input[type=text]:focus, table td textarea:focus, table td select:focus {
	border-color: #FF9900;
}

/* Sections Mes Images */
.img-menu {
	background: #212121;
	color: #FF9900;
}
.images .img-bloc {
	border-color: white;
	background: white;
}
.images .img-bloc:hover {
	border: 1px solid #FF9900;
	box-shadow: 0px 0px 10px #FF9900;
}
.img-bloc .infos .title {
	color: #808080;
	background-color: transparent;
}
.img-bloc .infos .title[rel='1']{background-image: url('../img/categories/16/cat_1.png');}
.img-bloc .infos .title[rel='2']{background-image: url('../img/categories/16/cat_2.png');}
.img-bloc .infos .title[rel='3']{background-image: url('../img/categories/16/cat_3.png');}
.img-bloc .infos .title[rel='4']{background-image: url('../img/categories/16/cat_4.png');}
.img-bloc .infos .title[rel='5']{background-image: url('../img/categories/16/cat_5.png');}
.img-bloc .infos .title[rel='6']{background-image: url('../img/categories/16/cat_6.png');}
.img-bloc .infos .delete {
	background: #808080 url('../img/delete_16.png') 50% no-repeat;
}
.img-bloc .infos .delete:hover {
	background-color: #E01200;
}
.img-edit {
	background: #555555;
}

/* Section Upload */
.upload-form, .upload-btns {
	background: #555555;
}


/* Buttons Decorations */
.btn, .btn-menu {
	background-color: #FF9900;
	color: #3D3D3D;
}
.btn-menu {
	background-color: #212121;
}
.upload-btns .btn { color: #fff; }

.btn[rel='resize']{ background-image: url('../img/resize_24.png'); }
.btn[rel='rotatel']{ background-image: url('../img/rotate_left_24.png'); }
.btn[rel='rotater']{ background-image: url('../img/rotate_right_24.png'); }
.btn[rel='delete']{ background-image: url('../img/delete_24.png'); background-color: #E01200; }
.btn[rel='send']{ background-color: #43C343;}
.btn[rel='cancel']{ background-color: #EB4116;}
.btn[rel='filter']{ background-image: url('../img/filter_24.png'); }
.btn[rel='show'][amount='10'],.btn[rel='changeshow'][amount='10']{ background-image: url('../img/show10_24.png'); }
.btn[rel='show'][amount='20'],.btn[rel='changeshow'][amount='20']{ background-image: url('../img/show20_24.png'); }
.btn[rel='show'][amount='50'],.btn[rel='changeshow'][amount='50']{ background-image: url('../img/show50_24.png'); }
.btn:hover { background-color: #FFD387; }
.btn[rel='cancel']:hover { background-color: #FF0000; }
.btn[rel='send']:hover { background-color: #00FF00; }
.btn[rel='delete']:hover { background-color: #DD7A73; }
.btn.active { background-color: #FFD387; }
.btn.disable { background-color: #917E5F;}