<html lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="shortcut icon" href="favicon.ico"/>
		<link rel="icon" href="favicon.ico"/>
		<link rel="stylesheet" href="../css/style.css"/>
		<title>T4Zone Images</title>
	</head>
	<body>
		<nav>
			<ul>
				<li class='menu' rel='home'>Accueil</li>
				<li class='menu' rel='upload'>Uploader</li>
				<li class='menu active' rel='images'>Mes images</li>
				<li class='menu' rel='logout'>D&eacute;connexion</li>
			</ul>
		</nav>
		<section id='global' class='images'>
			<div class='img-bloc' imgid='1'>
				<div class='img'><img src="../storage/25549/1235678945.jpg" width="200" height="150"/></div>
				<div class='infos'><div class='title'>Afficheur Controleur solaire</div><div class='delete' title='Supprimer'></div></div>
			</div>
			<div class='img-bloc' imgid='1'>
				<div class='img'><img src="../storage/25549/1235678957.jpg" width="200" height="150"/></div>
				<div class='infos'><div class='title'>Boitiers des panneaux</div><div class='delete' title='Supprimer'></div></div>
			</div>
			<div class='img-bloc' imgid='1'>
				<div class='img'><img src="../storage/25549/1235678958.jpg" width="200" height="150"/></div>
				<div class='infos'><div class='title'>Supprimer les soudures</div><div class='delete' title='Supprimer'></div></div>
			</div>
			<div class='img-bloc' imgid='1'>
				<div class='img'><img src="../storage/25549/1235678959.jpg" width="200" height="150"/></div>
				<div class='infos'><div class='title'>Posage panneau avant</div><div class='delete' title='Supprimer'></div></div>
			</div>
			<div class='img-bloc' imgid='1'>
				<div class='img'><img src="../storage/25549/1235678960.jpg" width="200" height="150"/></div>
				<div class='infos'><div class='title'>Posage panneau arrière</div><div class='delete' title='Supprimer'></div></div>
			</div>
			<div class='img-bloc' imgid='1'>
				<div class='img'><img src="../storage/25549/1235678961.jpg" width="150" height="200"/></div>
				<div class='infos'><div class='title'>Posage des deux panneaux</div><div class='delete' title='Supprimer'></div></div>
			</div>
			<div class='img-bloc' imgid='1'>
				<div class='img'><img src="../storage/25549/1235678962.jpg" width="200" height="150"/></div>
				<div class='infos'><div class='title'>Fixation avec la colle Sika</div><div class='delete' title='Supprimer'></div></div>
			</div>
			<div class='clear'></div>
		</section>
		<div class='loader'>Chargement...</div>
	</body>
</html>